@import "../../styles/setting.scss";

.topMainContainer{
    width: 100vw;
    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../../assets/backgroundtop.png");
    background-repeat: no-repeat;
    background-position: top -250px center;
    @media screen and (max-width: 1024px) {
        background-position: top -300px center;
    }
    @media screen and (max-width: 815px) {
        background-position: top -270px center;
    }
    @media screen and (max-width: 768px) {
        background-image: none;
    }
    .profilCardContainer{
        display: flex;
        flex-direction: column;
        width: $globalWidth;
        margin-top: 1rem;
        .top{
            display: flex;
                @media screen and (max-height: 900px) {
                    height: 100%;   
                }
                @media screen and (max-width: 768px) {
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 2rem;
                }
                img{
                    @media screen and (max-width: 1024px) {
                        width: 10em;
                        object-fit: contain;
                    }
                }
                .rightContainer{
                    margin-left: 3vw;
                    .idContainer{
                        height: 80%;
                        h1{
                            font-size: $fontH1;
                            font-weight: $weightH1;
                            margin: 0;
                            @media screen and (max-width: 768px) {
                                text-align: center;
                            }
                            @media screen and (max-width: 425px) {
                                font-size: 54px;
                            }
                        }
                        h2{
                            font-size: $fontH2;
                            font-weight: $weightH2;
                            @media screen and (max-width: 768px) {
                                text-align: center;
                            }
                            span{
                                font-size: 24px;
                                color: $darkSecondary;
                                @media screen and (max-width: 1200px) {
                                    font-size: 18px;
                                }
                            }
                            
                        }
                        .city{
                            font-size: 24px;
                            color: $darkSecondary;
                            font-weight: $weightH2;
                            @media screen and (max-width: 768px) {
                                text-align: center;
                                margin-top: 1rem;
                            }
                            @media screen and (max-width: 1200px) {
                                font-size: 18px;
                            }
                        }
                    }
                    .addValue{
                        height: 20%;
                        display: flex;
                        @media screen and (max-width: 768px) {
                            margin-top: 2rem;
                        } 
                        @media screen and (max-width: 425px) {
                            display: none;
                        }
                        .recommendation{
                            margin-top: 5px;
                            position: relative;
                            display: flex;
                            width: 300px;
                            svg{
                                margin-top: 3px;
                            }
                            .text{
                                margin-left: 5px;
                                font-size: $p;
                                @media screen and (max-width: 803px) {
                                    font-size: 12px;
                                }
                            }
                            .questionContainer{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                border: 1px solid $darkPrimary;
                                border-radius: 50%;
                                height: 13px;
                                width: 13px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 10px;
                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }
                            .questionContainer
                            :hover{
                                cursor: pointer;
                            }
                        }
                        .notation{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            margin-left: 40px;
                            .starsContainer{
                                svg{
                                    margin-top: 3px;
                                }
                            }
                            .text{
                                font-size: $p;
                                @media screen and (max-width: 803px) {
                                    font-size: 12px;
                                }
                            }
                            .questionContainer{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                border: 1px solid $darkPrimary;
                                border-radius: 50%;
                                height: 13px;
                                width: 13px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 10px;
                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }
                            .questionContainer
                            :hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        .bottom{
            .contact{
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-top: 10px;
                @media screen and (max-width: 768px) {  
                    align-items: center;
                    margin-top: 2rem;
                }
                .lignContainer{
                    height: 20%;
                    width: 100%;
                    .lignOne{
                        height: 5px;
                        width: 100%;
                        background-color: $darkPrimary;
                    }
                    .lignTwo{
                        margin-top: 3px;
                        height: 1px;
                        width: 100%;
                        background-color: $darkPrimary;
                    }
                }
                .bottomContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    h3{
                        font-size: $fontH3;
                        font-weight: $weightH1;
                        @media screen and (max-width: 915px) {
                            font-size: 32px;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 24px;
                            text-align: center;
                        }
                        span{
                            color: $goldPrimary
                        }
                        margin-bottom: 10px;
                    }
                    .buttonContainer{
                        @media screen and (max-width: 768px) {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                        }
                        a{
                            text-decoration: none;
                            background-color: $darkPrimary;
                            color: white;
                            font-size: $pSecondary;  
                            -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25); 
                            box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25);
                            padding: 0.8rem;
                            border-radius: 10px;
                            text-align: center;
                            @media screen and (max-width: 768px) {
                                width: 150px;
                                font-size: 18px;
                            }
                        }
                        button{
                            width: 217px;
                            height: 60px;
                            border-radius: 10px;
                            background-color: $darkPrimary;
                            color: white;
                            border: none;
                            font-size: $pSecondary;  
                            text-decoration: none;  
                            -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25); 
                            box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25);
                            svg{
                                margin-right: 20px;
                                @media screen and (max-width: 768px) {
                                    margin-right: 5px;
                                }
                            }
                            @media screen and (max-width: 768px) {
                                width: 150px;
                                font-size: 18px;
    
                            }
                        }
                        button:hover, a:hover{
                            cursor: pointer;
                        }
                        .mail{
                            background-color: white;
                            color: $darkPrimary;
                            margin-left: 40px;
                            @media screen and (max-width: 768px) {
                                margin-left: 0;
                            }
                            // border: 1px solid $darkPrimary;
                            
                        }
                    }
                }
            }
            .contact:before{
                content: "";
                height: 0px;
                background: none;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
            }
        }    
    }
    .contentContainer{
        margin-top: 140px;
        display: flex;
        justify-content: space-around;
        width: $globalWidth;
        margin-bottom: 4rem;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;
        }
        .leftContainer{
            max-width: 65%;
            @media screen and (max-width: 768px) {
                max-width: 100%;
                margin-bottom: 2rem;
            }
            .propos{
                h3{
                    font-size: 36px;
                    font-weight: 400;
                }
                p{
                    margin-top: 1rem;
                    font-size: 24px;
                    font-weight: 200;
                    line-height: 35px;
                }
            }
            .prestations{
                h3{
                    margin-top: 2rem;
                    font-size: 36px;
                    font-weight: 400;
                }
                p{
                    margin-top: 1rem;
                    font-size: 24px;
                    font-weight: 200;
                    line-height: 35px;
                }
                ul{
                    margin-top: 1rem;
                    list-style: none;
                    font-size: 24px;
                    font-weight: 200;
                    line-height: 35px;
                    li{
                        font-weight: 100;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .rightContainer{
            min-height: 100%;
            width: 30%;
            border-radius: 20px;
            -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25); 
            box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25);
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            ul{
                min-height: 100%;
                margin-top: 2rem;
                margin-bottom: 2rem;
                list-style: none;
                font-size: 24px;
                font-weight: 200;
                line-height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                li{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0.5rem;
                    font-size: 24px;
                    span{
                        font-size: 64px;
                        font-weight: 400;
                        color: $goldPrimary;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .price{
        @media screen and (max-width: 768px) {
            display: none;
        }
        .title{
            background-image: url("../../assets/bordeauxarcachon.jpg");
            background-position: center;
            width: 100vw;
            height: 300px;
            filter: grayscale(.8) ;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
            @media screen and (max-width: 768px) {
                background-image: none;
                color: $darkPrimary;
            }
            h2{
                font-weight: 400;
                font-size: 64px;
                text-align: center;
                @media screen and (max-width: 768px) {
                    font-size: 54px;
                }
            }
        }
    }
    .contact{
        margin-top: 2rem;
        margin-bottom: 4rem;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media screen and (max-width: 768px) {  
            align-items: center;
            margin-top: 2rem;
        }
        .lignContainer{
            height: 20%;
            width: 100%;
            .lignOne{
                height: 5px;
                width: 100%;
                background-color: $darkPrimary;
            }
            .lignTwo{
                margin-top: 3px;
                height: 1px;
                width: 100%;
                background-color: $darkPrimary;
            }
        }
        .bottomContainer{
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            h3{
                font-size: $fontH3;
                font-weight: $weightH1;
                @media screen and (max-width: 915px) {
                    font-size: 32px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 24px;
                    text-align: center;
                }
                span{
                    color: $goldPrimary
                }
                margin-bottom: 10px;
            }
            .buttonContainer{
                display: flex;
                justify-content: center;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                a{
                    text-decoration: none;
                    background-color: $darkPrimary;
                    color: white;
                    font-size: $pSecondary;  
                    -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25); 
                    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25);
                    padding: 0.8rem;
                    border-radius: 10px;
                    text-align: center;
                    transition: transform;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    @media screen and (max-width: 768px) {
                        width: 150px;
                        font-size: 18px;
                    }
                }
                button{
                    width: 217px;
                    height: 60px;
                    border-radius: 10px;
                    background-color: $darkPrimary;
                    color: white;
                    border: none;
                    font-size: $pSecondary;  
                    text-decoration: none;  
                    -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25); 
                    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.25);
                    text-align: center;
                    transition: transform;
                    transition-duration: 0.2s;
                    svg{
                        margin-right: 20px;
                        @media screen and (max-width: 768px) {
                            margin-right: 5px;
                        }
                    }
                    @media screen and (max-width: 768px){
                        width: 150px;
                        font-size: 18px;
                    }
                }
                button:hover, a:hover{
                    transform: scale(1.02);
                }
                button:hover, a:hover{
                    cursor: pointer;
                }
                .mail{
                    background-color: white;
                    color: $darkPrimary;
                    margin-left: 40px;
                    @media screen and (max-width: 768px) {
                        margin-left: 0;
                    }
                    
                }
            }
        }
    }
    .contact:before{
        content: "";
        height: 1px;
        background-color: $darkPrimary;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
}