@import "../../styles/setting.scss";

footer{
    height: 140px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $darkPrimary;
    .leftContainer{
        width: 100%;
        height: 100%;
        width: calc($globalWidth - 10%);
        background-color: $darkPrimary;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .textContainer{
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .rightContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}